<body>
    <div class="container" style="margin: 5% auto">
        <div class="col-6 offset-3">
            <h1>Agregar una nueva noticia</h1>
            <form action="/admin/novedades/agregar" method="post">

                <div class="input-group input-group-sm mb-3">
                    <input type="text" class="form-control" placeholder="Titulo" name="titulo" />
                </div>

                <div class="input-group mb-3">
                    <textarea type="text" class="form-control" placeholder="Subtitulo" name="subtitulo"></textarea>
                </div>

                <div class="input-group input-group-lg">
                    <textarea type="text" class="form-control" placeholder="Cuerpo" name="cuerpo"></textarea>
                </div>
                
        </div>
        <div>
            <button type="submit" class="btn btn-primary" style="margin-left: 280px; margin-top: 10px;">Guardar</button>
        </div>
    </div>
    </form>
    {{#if error}}
    <h5>{{message}}</h5>
    {{/if}}
</body>