<body>

    <div class="container " style=" margin: 10px auto">
        <div class="row">
            <div class="col">
                <p style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-width: 180px;"> Hola {{usuario}} !</p>
            </div>
        </div>
        
    </div>
    <h1 style="font-family: Oleo Script; margin-top: 15%; margin-left: 15%" class="text-justify">PROXIMAMENTE PODRAS EDITAR MAS SECCIONES.-</h1>

</body>