  
  <body>
        
<div class= "container " style=" margin: 10px auto">
    <div class="row">
        <div class="col">
                <p> Hola {{usuario}} !</p>
        </div>
    </div>
</div>
<div class="text-end" style="margin-top: -108px; z-index:99" >
    <a href="/admin/login/logout" class="btn btn-danger" >Cerrar Sesión</a>
</div>

</body>
    <footer class="text-center" style="margin-top: 15%;">Realizado por: Juan Leiva</footer>
