<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous" />
    <link href="/public/stylesheets/styles.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="./imagenes/icono2.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@700&family=Yanone+Kaffeesatz:wght@300;700&display=swap"
        rel="stylesheet">
    <title>Productos</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-dark bg-dark ">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">LAVALLE & CO</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class=" navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/nosotros">Nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/nosotros#contactanos">Contactanos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/nosotros#ubicacion">Visitanos</a>
                </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div id="historia" class="row align-items-center py-3">
            <div class="col-lg-3 col-md-4 offset-lg-1 d-none d-sm-block">
                <img src="images/historia2.jpg" alt="nosotros1" class="img-fluid">
            </div>
            <div class="col-lg-3 col-md-4  d-none d-sm-block">
                <img src="images/historia3.jpg" alt="nosotros1" class="img-fluid">
            </div>

            <div class="col-lg-4 col-md-6 mt-4 mt-sm-0 offset-lg-1" style="max-width: 400px;">
                <h2 style="font-family: 'Azeret Mono', monospace;">Historia</h2>
                <p class="p_titulo">Lo nuestro empezo en la decada del 60', pasamos por muchos cambios que nos hicieron
                    ser lo que somos hoy.
                    </br>En donde siempre nos caracterizo la inovasión en cada decada, sirviendo un producto unico en
                    Villa Mercedes.
                </p>
            </div>

        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
    <footer class="text-center">Realizado por: Juan Leiva</footer>
</body>

</html>