<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous" />
  <link href="stylesheets/style.css" rel="stylesheet" />
  <link
    href="https://fonts.googleapis.com/css2?family=Neuton:wght@800&family=Oleo+Script:wght@700&family=Sorts+Mill+Goudy&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap" rel="stylesheet">
  <link rel="shortcut icon" href="images/menu.png">
  <link href="https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@700&display=swap" rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@700&family=Yanone+Kaffeesatz:wght@300;700&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Scheherazade&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="stylesheets/font-awesome.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

  <title>Lavalle & Co</title>
</head>
<body></body>
 <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-dark bg-dark">

    <a class="navbar-brand" href="/" style="margin-left: 3px ;">LAVALLE & CO</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#noticias">Novedades</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/historia">Historia</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/nosotros">Nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/nosotros#contactanos">Contactanos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/nosotros#ubicacion">Visitanos</a>
        </li>

      </ul>
    </div>

  </nav>

  <div class="container-fluid">

    <div>
      <div id="home" class="row align-items-center hero">
        <div>

          <h1 class="titulo_imagen" style="font-size: 350%; margin-left: 65%; width: auto"><b>Lavalle & Co</b></h1>
          <p class="p_titulo" style="font-size: 150%; margin-left: 65%; width: auto">-.Food cocktails and good company.-
          </p>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div id="novedades" class="row py-5">
        <div class="col-md-4 offset-md-1 py-3">
          <h2 style="font-family:'Oleo Script', cursive; font-size: 280%;">Algo de nosotros</h2>
          <ul class="lista-novedades">
            <li><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"><img
                  src="images/desayuno_portada.png" alt="">Desayuno/Merienda</a></li>
            <li><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal1"><img src="images/menu7.jpg"
                  alt="">Sorrentinos</a></li>
            <li><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal2"><img src="images/menu5.jpg"
                  alt="">Sandwitch's</a></li>
            <li><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal3"><img src="images/papas.jpg"
                  alt="">Papas Fritas</a></li>
            <li><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal4"><img src="images/menu8.jpg"
                  alt="">Tragos</a></li>

          </ul>
        </div>
        <div class="col-md-2 offset-md-2" style=" width: 500px; height: min-content;" id="noticias">
          <div class="rounded py-3 testimonios">
            <h2 class="tex-center" style="font-family: 'Oleo Script', cursive; font-size: 45px;">Novedades</h2>
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                  aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                  aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                  aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="testimonio">
                    <img src="images/novedad1.jpg" class="d-block w-100" alt="...">
                    <br>
                    <p class="noti_p"> El curso se dictara a partir del 13.09.2021.</p>

                  </div>
                </div>
                <div class="carousel-item">
                  <div class="testimonio">
                    <img src="images/novedad2.jpg" class="d-block w-100" alt="..." style="width: 80px">
                    <br>
                    <p class="noti_p">¡Nosotros te avisamos!</p>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="testimonio">
                    <img src="images/novedad3.jpg" class="d-block w-100" alt="..." style="width: 80px">
                    <br>
                    <p class="noti_p">En Lavalle&Co siempre estamos con el mejor de los ánimos para llevarte a tu casa
                      lo mejor de nuestra carta.
                    </p>
                  </div>
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width: 100%;">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel" style="text-align: right;">Desayuno/Merienda Saludable</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <img src="images/promo_desayuno.jpg" alt="" style="width: 100%; height: 510px; border-radius: 5%;">
              </br>
              </br>
              <ul style="font-family: 'Yanone Kaffeesatz', sans-serif; font-size: 130%;">
                <li><b>Plato con frutas, granola.</b></li>
                <li><b>Yogurt/Jugo de Naranja/Café.</b></li>
              </ul>
            </div>



          </div>
        </div>
      </div>


      <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
        <div class="modal-dialog" style="width: 100%;">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel1" style="text-align: right;">Sorrentinos de Salmon</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <img src="images/menu7.jpg" alt="" style="width: 100%; height: auto; border-radius: 2%;">
              </br>
              </br>
              <ul style="font-family: 'Yanone Kaffeesatz', sans-serif; font-size: 130%;">
                <li><b>Sorrentinos rellenos de jamon y masa con tintes oscuras.</b></li>
                <li><b>Salsa de crema con cebolla de verdeo y frutos del mar.</b></li>

              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
        <div class="modal-dialog" style="width: 100%;">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel2" style="text-align: right;">Thomas Shelby</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <img src="images/menu5.jpg" alt="" style="width: 100%; height: auto; border-radius: 5%;">
              </br>
              </br>
              <ul style="font-family: 'Yanone Kaffeesatz', sans-serif; font-size: 130%;">
                <li><b>Lomo.</b></li>
                <li><b>Champignones, cebolla morda, lechuga.</b></li>
                <li><b>Salsita casera y pan artesanal.</b></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel3" aria-hidden="true">
        <div class="modal-dialog" style="width: 100%;">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel3" style="text-align: right;">Granada</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <img src="images/menu3.jpg" alt="" style="width: 100%; height: 510px; border-radius: 5%;">
              </br>
              </br>
              <ul style="font-family: 'Yanone Kaffeesatz', sans-serif; font-size: 130%;">
                <li><b>Carne mechada</b></li>
                <li><b>Cebollita de verdeo + tomate + cebolla morada</b></li>
                <li><b>Cheddar</b></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel4" aria-hidden="true">
        <div class="modal-dialog" style="width: 100%;">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel4" style="text-align: right;">Granada</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <img src="images/menu8.jpg" alt="" style="width: 100%; height: 510px; border-radius: 5%;">
              </br>
              </br>
              <ul style="font-family: 'Yanone Kaffeesatz', sans-serif; font-size: 130%;">
                <p>Una perfecta combinación entre jagger y tequila, con una medida de Speed.</p>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  </div>

  </body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
    <footer class="text-center" style="margin-top: 15%;">Realizado por: Juan Leiva</footer>
  </html>
